ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	}
li {
	display: inline;
  padding: 10px;
  color: #787878;
	}
nav {
    float: right;
}
img {
	margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 300px;
  width: 350px;
	}
form textarea {
  border-color: #0066ff;
  margin-left: 100px;
  }
#buttons {
  text-align: center;
}
.button {
  padding: 10px;
  border-radius: 5px;
  }
footer {
  margin-top: 120px;
  padding: 10px;
  background-color: #e8e8e8;
}
#right {
	float: right;
	}
#left {
	float: left;
	}